#logo{
    width: 100%;
    margin-top:2rem;
}

h1,
#copyright{
    text-align: center;
    margin-top: .5rem;
}

span{
    font-weight: bold;
    color:yellow;
    background-color: black;
}
div{
    text-align: justify;
}

#cool{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0 1rem 0 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-box-shadow: 2px 18px 34px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 18px 34px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 18px 34px -1px rgba(0,0,0,0.75);
}