li{
    list-style: none;
    display: block;
    padding: 2rem;
    color:white;
    font-size: 1.1rem;
}

li:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}

.selected{
    background-color: white;
    color:blue;
    font-weight: bold;
    cursor: pointer;
}
.container-fluid{
    margin:0;
    padding: 0;
}

ul{
    padding-left: .5rem;
    padding-right: 0;
}

.side-bar{
    padding: 0;
    margin:0;
}

.left-bar{
    min-height: 95vh;
}

.copyright{
    min-height: 4rem;
    color:white;
}