<nav class="navbar navbar-dark bg-dark d-print-none" >
  <a class="navbar-brand" href="#">
    <img src="assets/hr-logo.png" class="d-inline-block align-top" alt="" loading="lazy">
  </a>

  <span *ngIf="auth.isLoggedIn && auth.userData" class="navbar-text">
    <h5>

      Welcome <span class="badge badge-primary">{{auth.userData.email}}</span><span *ngIf="company" class="badge badge-light">{{company.name}}</span>
    </h5>
  </span>
</nav>

<div class="container-fluid">
  <div class="row left-bar">
    <div class="bg-gradient-primary col-sm-4 col-md-3 col-lg-2 side-bar d-print-none">
      <ul>
        <li *ngIf="!auth.isLoggedIn" routerLinkActive="selected"  [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i>   Login</li>
        <li *ngIf="!auth.isLoggedIn" routerLinkActive="selected" [routerLink]="['/register']"><i class="fas fa-diagnoses"></i>  Register</li>
        <li *ngIf="auth.isLoggedIn" routerLinkActive="selected" [routerLink]="['/manage-departments']"><i class="fas fa-project-diagram"></i>    Manage departments</li>
        <li *ngIf="auth.isLoggedIn" routerLinkActive="selected" [routerLink]="['/manage-users']"><i class="fas fa-users"></i>  Manage employees</li>
        <li *ngIf="auth.isLoggedIn" routerLinkActive="selected" [routerLink]="['/company']"><i class="fas fa-building"></i>  My conpany</li>
        <li *ngIf="auth.isLoggedIn" routerLinkActive="selected" [routerLink]="['/profile']"><i class="fas fa-user-edit"></i>  My profile</li>
        <li *ngIf="auth.isLoggedIn" routerLinkActive="selected" (click)="auth.SignOut()"><i class="fas fa-diagnoses"></i>  Logout</li>
      </ul>
    </div>
    <div class="col">
      <router-outlet></router-outlet>

    </div>
  </div>
  <div class="row bg-gradient-dark align-items-center copyright">
    <div class="col ">
      <h5 class="text-center">Copyright ©HR Platform</h5>
    </div>
  </div>
</div>


