<h1 class="d-print-none">Organization chart</h1>
<button *ngIf="!loading" class="btn btn-info d-print-none">{{orgChart.dataTable.length-1}} departments</button>
<button *ngIf="!loading" class="btn btn-primary d-print-none" onClick="window.print()"><i class="fas fa-print"></i> Print this</button>
<google-chart id="print-section" [data]="orgChart" (chartSelect)='select($event)'></google-chart>

<h4 *ngIf="orgChart.dataTable.length<=1 && !loading" class="text-center text-info d-print-none">There is no department in your company. Please add more!</h4>

<div *ngIf="loading" class="d-flex justify-content-center d-print-none">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<h1 class="d-print-none">Add, update or delete department</h1>
<form class="user" [formGroup]="addNodeForm" class="d-print-none">
  <label for="parent">Selected department</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #parent formControlName="selected" readonly placeholder="None">
  </div>
  <label for="name">Department name</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #name required formControlName="name"
      placeholder="Department name">
  </div>
  <label for="name">Department description</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #description required formControlName="description"
      placeholder="Department description">
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <button class="btn btn-primary btn-user btn-block"  [disabled]="!addNodeForm.valid" (click)="updateNode()"><i class="fas fa-pen"></i> Update department</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary btn-user btn-block"  [disabled]="!addNodeForm.valid" (click)="addNode()"><i class="fas fa-plus"></i> Add new department</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary btn-user btn-block"  [disabled]="!addNodeForm.value.selected" (click)="deleteNode()"><i class="fas fa-trash-alt"></i> Delete department</button>
    </div>
  </div>
</form>
<!-- <p>{{selectedDepartmentId}}</p>
<pre>{{departmentsData | json}}</pre>
<pre>{{orgChart.dataTable | json}}</pre> -->
