<h1>Organization chart</h1>
<span class="badge badge-pill badge-info">{{orgChart.dataTable.length-1}} departments</span>
<google-chart [data]="orgChart" (chartSelect)='select($event)'></google-chart>
<h4 *ngIf="orgChart.dataTable.length<=1" class="text-center text-info">There is no department in your company. Please add more!</h4>
<h1>Add, update or delete department</h1>
<form class="user" [formGroup]="addNodeForm">
  <label for="parent">Parent department</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #parent formControlName="parent" readonly placeholder="None">
  </div>
  <label for="name">Department name</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #name required formControlName="name"
      placeholder="Department name">
  </div>
  <label for="name">Department description</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #description required formControlName="description"
      placeholder="Department description">
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <button class="btn btn-primary btn-user btn-block"  [disabled]="!addNodeForm.valid" (click)="updateNode()"><i class="fas fa-pen"></i> Update department</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary btn-user btn-block"  [disabled]="!addNodeForm.valid" (click)="addNode()"><i class="fas fa-plus"></i> Add department</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary btn-user btn-block"  [disabled]="!addNodeForm.valid" (click)="deleteNode()"><i class="fas fa-trash-alt"></i> Delete department</button>
    </div>
  </div>
</form>

<pre>{{departmentsData | json}}</pre>
<pre>{{orgChart.dataTable | json}}</pre>
