<google-chart [data]="pieChart" (chartSelect)='select($event)'></google-chart>

<p>Selected {{selectedNode?.selectedRowValues[0]}} department</p>

<form class="user" [formGroup]="addNodeForm">
  <label for="parent">Parent department</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #parent required formControlName="parent" readonly placeholder="None">
  </div>
  <label for="name">Department name</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #name required formControlName="name"
      placeholder="Department name">
  </div>
  <label for="name">Department description</label>
  <div class="form-group">
    <input type="text" class="form-control form-control-user" #description required formControlName="description"
      placeholder="Department description">
  </div>
  <input type="submit" class="btn btn-primary btn-user btn-block" value="Update department" [disabled]="!addNodeForm.valid" (click)="updateNode()"/>
  <input type="submit" class="btn btn-primary btn-user btn-block" value="Add department" [disabled]="!addNodeForm.valid" (click)="addNode()"/>
</form>

<pre>{{data | json}}</pre>
